@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}
